server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/postgres?currentSchema=deskpet&stringtype=unspecified}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:123456}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0

command:
  timeoutSec: 10
  timeoutScanMs: 2000

gateway:
  baseUrl: http://localhost:8081

internal:
  token:

management:
  endpoints:
    web:
      exposure:
        include: health,info
